{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
    <link href="/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
    {% if pageTitleName %}
        {{ pageTitleName }}
        -
    {% endif %}
    {{ 'general.serviceNameTitle' | translate }}
{% endblock %}

{% block bodyStart %}
    {% include 'common/layout/banner.njk' %}
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: 'general.base.homepageUrl' | translate,
  serviceName: 'general.base.serviceName' | translate,
  serviceUrl: 'general.base.serviceUrl' | translate
}) }}
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    {% if doNotShowPhaseBanner %}
    {% else %}
      {{ govukPhaseBanner({
        tag: {
          text: 'general.phaseBanner.tag' | translate
        },
        html: 'general.phaseBanner.content' | translate
      }) }}
    {% endif %}
    {% if showBack %}
      {{ govukBackLink({
            text: "Back",
            href: hrefBack
        }) }}
    {% endif %}
    <main class="govuk-main-wrapper {{ mainClasses }} govuk-!-padding-top-2" id="main-content" role="main" >
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full {{ rowClasses }}">
            {% block content %}{% endblock %}
            </div>
        </div>
    </main>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
      meta: {
      items: [
        {
          href: 'general.cookieBanner.viewCookiesLink' | translate,
          text: 'general.base.footer.cookies' | translate
        },
        {
          href: "/privacystatement",
          text: 'general.base.footer.privacy' | translate
        },
        {
          href: "/accessibilitystatement",
          text: 'general.base.footer.accessibility' | translate
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="/public/scripts/all.js"></script>
  <script type="text/javascript" src="/public/scripts/cookies.js"></script>
  <script type="text/javascript" nonce='{{scriptNonce}}'>window.GOVUKFrontend.appInit('{{gtmId}}', '{{analyticsCookieDomain}}')</script>
{% endblock %}
