$govuk-assets-path: "/public/";

@import "../../../node_modules/govuk-frontend/govuk/all";
@import "../../../node_modules/hmpo-components/all";

.govuk-heading-m, .hmpo-auto-submit h1, h2 {
    margin-bottom: 30px;
}

.govuk-list--bullet>li, .govuk-list--number>li {
    margin-bottom: 15px;
    }

.govuk-inset-text {
    margin-bottom: 30px;
}

.govuk-body, main p, .govuk-body-m {
    margin-bottom: 30px;
}

.govuk-button {
    margin-bottom: 30px;
}
