$govuk-assets-path: "/public/";

@import "../../../node_modules/govuk-frontend/govuk/all";
@import "../../../node_modules/hmpo-components/all";

// Adding a new rule in case adjusting the component CSS directly is bad practice
.govuk-radios__item {
  @include govuk-responsive-margin(6, $direction: "bottom", $important: false, $adjustment: false);
}

.govuk-heading-m, .hmpo-auto-submit h1, h2 {
  margin-bottom: 30px;
}

.govuk-list--bullet>li, .govuk-list--number>li {
  margin-bottom: 15px;
  }

.govuk-inset-text {
  margin-bottom: 30px;
}

.govuk-body, main p, .govuk-body-m {
  margin-bottom: 30px;
}

.govuk-button {
  margin-bottom: 30px;
  margin-top: 30px;
}

.govuk-summary-list .govuk-summary-list__key {
  color: black;
  font-weight: bold;
}

.govuk-link:link, main a:link {
  font-size: 19px;
}

.govuk-body, main p, .govuk-body-m {
  margin-bottom: 3px;
}

.hint-with-margin {
  margin-top: 30px;
}


.govuk-radios__divider{
  margin-bottom: 15px;
  margin-top: -15px;
}

.govuk-summary-list .govuk-summary-list__key {
  color: #000;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 40px;
}

.govuk-warning-text {
  margin-bottom: 0px;
}

#details-btn {
  margin-top: 0;
  padding-top: 0;
}


.govuk-summary-list .govuk-summary-list__key {
  color: #000;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 40px;
}

.govuk-warning-text {
  margin-bottom: 0px;
}

#details-btn {
  margin-top: 0;
  padding-top: 0;
}