# This is the CODEOWNERS file. These owners will be the default owners for everything in the di-ipv-cri-cic-front repository
# The following below will be requested for review when someone opens a pull request.

* @alphagov/di-ipv-kiwi-front-codeowners