{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "cic - checkDetails" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block header %}
  {{ govukHeader ({
    serviceName: translate("govuk.serviceName")
  }) }}
{% endblock %}

<!-- {% block mainContent %}
  <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
    {{ translate("checkDetails.title") }}
  </h1> -->



  <!-- {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Selected photo ID"
        },
        value: {
          text: "UK Passport"
        },
        actions: {
          items: [
            {
              href: "/photoIdSelection",
              text: "Change",
              visuallyHiddenText: "photoId"
            }
          ]
        }
      },
      {
        key: {
          text: "Name"
        },
        value: {
          text: "Bilbo Baggins"
        },
        actions: {
          items: [
            {
              href: "/nameEntry",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      },
      {
        key: {
          text: "Date of Birth"
        },
        value: {
          html: "31 3 1987"
        },
        actions: {
          items: [
            {
              href: "/dateOfBirth",
              text: "Change",
              visuallyHiddenText: "dateOfBirth"
            }
          ]
        }
      },
    ]
  }) }}
  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }} --> -->

<!-- {% endblock %} -->

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}