{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "cic - checkYourDetails" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ translate("checkDetails.title") }}</h1>

    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-0',
      rows: [
        {
          key: {
            text: translate("checkDetails.name")
          },
          value: {
            html: translate("{{ fullName }}")
          },
          actions: {
            items: [
              {
                href: "/enter-name-no-photo-id/edit?edit=true",
                text: translate("checkDetails.changeLink"),
                visuallyHiddenText: translate("checkDetails.name")
              }
            ]
          }
        },
        {
          key: {
            text: translate("checkDetails.dateOfBirth")
          },
          value: {
            html: translate("{{ formattedBirthDate }}")
          },
          actions: {
            items: [
              {
                href: "/enter-date-birth-no-photo-id/edit?edit=true",
                text: translate("checkDetails.changeLink"),
                visuallyHiddenText: translate("checkDetails.dateOfBirth")
              }
            ]
          }
        }
      ]
    }) }}

      {{ govukWarningText({
        text: translate("checkDetails.validation.noPhotoId"),
        iconFallbackText: "Warning"
      }) }}

      {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx, {classes: "govuk-!-margin-top-6", attributes: {"data-testid": "confirm-details-continue-btn","data-nav":true,"data-link":"/oauth2/callback"}, text: translate("checkDetails.noPidButtonText")}) }}
      {% endcall %}
      </div>
  </div>


{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
      window.addEventListener('load', function () {
        window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
          statusCode: '200', // Access status code
          englishPageTitle: '{{translate("checkDetails.title")}}',
          taxonomy_level1: 'web cri', // Access taxonomy level 1
          taxonomy_level2: 'cic', // Access taxonomy level 2
          content_id: '003',
          logged_in_status: true,
          dynamic: false,
        });
      });
    </script>
{% endblock %}
