{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "cic - checkYourDetails" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ translate("checkDetails.title") }}</h1>

    {% if (journeyType == "FACE_TO_FACE") %}
      {{ govukWarningText({
        text: translate("checkDetails.validation.default"),
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-0',
      rows: [
        {
          key: {
            text: translate("checkDetails.name")
          },
          value: {
            html: translate("{{ fullName }}")
          },
          actions: {
            items: [
              {
                href: "/enter-name/edit",
                text: translate("checkDetails.changeLink"),
                visuallyHiddenText: translate("checkDetails.name")
              }
            ]
          }
        },
        {
          key: {
            text: translate("checkDetails.dateOfBirth")
          },
          value: {
            html: translate("{{ formattedBirthDate }}")
          },
          actions: {
            items: [
              {
                href: "/enter-date-birth/edit",
                text: translate("checkDetails.changeLink"),
                visuallyHiddenText: translate("checkDetails.dateOfBirth")
              }
            ]
          }
        }
      ]
    }) }}

    {% if (journeyType == "NO_PHOTO_ID") %}
      {{ govukWarningText({
        text: translate("checkDetails.validation.noPhotoId"),
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    {% if (journeyType == "NO_PHOTO_ID") %}
      {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx, {id: "confirmDetailsContinue", text: translate("checkDetails.noPidButtonText")}) }}
      {% endcall %}
    {% else %}
      {% call hmpoForm(ctx) %}
        {{ hmpoSubmit(ctx, {id: "confirmDetailsContinue", text: translate("checkDetails.f2fButtonText")}) }}
      {% endcall %}
    {% endif %}
    </div>
  </div>


{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" nonce='{{cspNonce}}'>window.DI.appInit({uaContainerId: '{{uaContainerId}}', analyticsCookieDomain: '{{analyticsCookieDomain}}', isGa4Enabled: '{{isGa4Enabled}}', ga4ContainerId: '{{ga4ContainerId}}'})</script>
  {% endblock %}
{% endblock %}