{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "dateOfBirth" %}
{% set gtmJourney = "cic - dateOfBirth" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block mainContent %}
{% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

{% set legendContent = translate("dateOfBirth.formLegend") %}
{% set hintText = translate("dateOfBirth.hintText") %}

<!-- start -->

{{ hmpoDate(ctx, {
id: "dateOfBirth",
namePrefix: "dateOfBirth",
fieldset: {
legend: {
text: legendContent,
isPageHeading: true,
classes: "govuk-fieldset__legend--l"
}
},
hint: {
html: formInstructions
}
}) }}
<!-- end -->

{{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

{% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
{{ govukFooter( footerNavItems ) }}
{% endblock %}
