{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "nameEntry" %}
{% set gtmJourney = "cic - nameEntry" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}


{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 id="header" class="gov" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
          {{ title }}
      </h1>
    </div>
  </div>

  {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

  {{ hmpoText(ctx, {
      id: "surname",
      classes: "govuk-!-width-full"
  })}}

  <p> {{ translate("nameEntry.givenNames") }}</p>

  <div class="govuk-inset-text">

      {{ hmpoText(ctx, {
          id: "firstName",
          classes: "govuk-!-width-three-quarters"
      })}}

      {{ hmpoText(ctx, {
          id: "middleName",
          classes: "govuk-!-width-three-quarters"
      })}}

  </div>

  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

  {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
  {{ govukFooter( footerNavItems ) }}
{% endblock %}


{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" nonce='{{cspNonce}}'>window.DI.appInit({uaContainerId: '{{uaContainerId}}', analyticsCookieDomain: '{{analyticsCookieDomain}}', isGa4Enabled: '{{isGa4Enabled}}', ga4ContainerId: '{{ga4ContainerId}}'})</script>
  {% endblock %}
{% endblock %}