{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "nameEntry" %}
{% set gtmJourney = "cic - nameEntry" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}


{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 id="header" class="gov" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
          {{ title }}
      </h1>
    </div>
  </div>

  {% if journeyType === "NO_PHOTO_ID" %}
  <div id="noPhotoIdInstructions">
    <p>{{ introText }}</p>
    <div class="govuk-inset-text govuk-!-margin-bottom-6">
      <p>{{ insetText1 }}</p>
      <p>{{ insetText2 }}</p>
    </div>
  </div>
  {% endif %}

  {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

  {{ hmpoText(ctx, {
      id: "surname",
      classes: "govuk-!-width-full"
  })}}

  <p> {{ translate("nameEntry.givenNames") }}</p>

  <div class="govuk-inset-text">

    {{ hmpoText(ctx, {
        id: "firstName",
        classes: "govuk-!-width-three-quarters"
    })}}

    {{ hmpoText(ctx, {
        id: "middleName",
        classes: "govuk-!-width-three-quarters"
    })}}

  </div>

  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

  <p> <a href={{ "nameEntry.contactSupport.link" | translate }} id="contactSupport"> {{ "nameEntry.contactSupport.text" | translate }}</a></p>

  {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
  {{ govukFooter( footerNavItems ) }}
  <script type="text/javascript" src="/public/javascripts/all.js"></script>
  <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
    window.addEventListener('load', function () {
      window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
        statusCode: '200', // Access status code
        englishPageTitle: '{{translate("nameEntry.title")}}',
        taxonomy_level1: 'web cri', // Access taxonomy level 1
        taxonomy_level2: 'cic', // Access taxonomy level 2
        content_id: '001',
        logged_in_status: true,
        dynamic: false,
      });
    });
  </script>
{% endblock %}
