{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "dateOfBirth" %}
{% set gtmJourney = "cic - dateOfBirth" %}



{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}

{% if query.edit == "true" %}
  {% set contentID = "9a8abae5-1b76-4bf5-97b5-aff98de0642e" %}
{% else %}
  {% set contentID = "94e6090c-6dce-46c8-92db-a961ab959cb0" %}
{% endif %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "cic" %}
{% set statusCode = "200" %}
{% set pageTitleKey = "pages.dateOfBirth.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{# per-page next link #}
{% set nextLink = "/confirm-details" %}

{% block mainContent %}
  {% include "cic/partials/dob-form.njk" %}
{% endblock %}

{% block footer %}
  {{ super() }}
  <script type="text/javascript" src="/public/javascripts/all.js"></script>
{% endblock %}