{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set gtmJourney = "cic - nameEntry" %}
{% set hmpoPageKey = "nameEntry.bank_account" %}
  
{% if query.edit == "true" %}
  {% set contentID = "446ea9f3-04b0-4b67-9c08-72fcd2a33edb" %}
{% else %}
{% set contentID = "27a5a22a-0f3d-4019-977a-4046bcc1cfa4" %}
{% endif %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "cic" %}
{% set statusCode = "200" %}
{% set pageTitleKey = "pages.nameEntry.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% block mainContent %}

{% set detailsBody %}
<div>
  <p>{{ translate("nameEntry.details.line1") }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-!-margin-left-3">{{ translate("nameEntry.details.bullet1") }}</li>
      <li class="govuk-!-margin-left-3">{{ translate("nameEntry.details.bullet2") }}</li>
    </ul>
    <p>{{ translate("nameEntry.details.line2") }}</p>
    <p>{{ translate("nameEntry.details.line3") }}</p>
    <p>{{ translate("nameEntry.details.line4") }}</p>
    <p>{{ translate("nameEntry.details.line5") }}<a href={{ "nameEntry.contactSupport.link" | translate }} id="contactSupport"> {{ "nameEntry.contactSupport.text" | translate }}</a></p>
</div>
{% endset %}


  <div>
    <h1 id="header" class="gov" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ title }}
    </h1>
      <div id="noPhotoIdInstructions">
        <p>{{ introText }}</p>
        <div class="govuk-inset-text govuk-!-margin-bottom-6">
          <p>{{ insetText1 }}</p>
          <p>{{ insetText2 }}</p>
        </div>
      </div>

  {% call hmpoForm(ctx) %}

    {{ hmpoText(ctx, {
        id: "surname",
        autocomplete: "family-name",
        classes: "govuk-!-width-full"
    })}}

    {%- set firstNameError = hmpoGetError(ctx, {id: 'firstName'}) %}
    {%- set middleNameError = hmpoGetError(ctx, {id: 'middleName'}) %}

    {% if firstNameError and middleNameError %}
        <div class="govuk-form-group govuk-form-group--error">
    {% else %}
        <div class="govuk-form-group ">
      {% endif %}

    {% call govukFieldset({
      legend: {
        text: translate("nameEntry.givenNames"),
        classes: "govuk-!-margin-0"
      }
    }) %}
        <div class="govuk-inset-text govuk-!-margin-top-2 govuk-!-padding-top-1">
            {{ hmpoText(ctx, {
              id: "firstName",
              label: {
              classes: "govuk-label"
              },
              classes: "govuk-input",
              autocomplete: "given-name"
              }) }}

            {{ hmpoText(ctx, {
              id: "middleName",
              label: {
              classes: "govuk-label"
              },
              classes: "govuk-input",
              autocomplete: "additional-name"
              }) }}
        </div>
      {% endcall %}
    </div>

    <div>
      {{ govukDetails({
        id: "characterDetails",
        classes: "govuk-!-margin-bottom-7",
        summaryText: translate("nameEntry.details.summary"),
        html: detailsBody
      }) }}
    </div>

    {{ hmpoSubmit(ctx, {classes: "govuk-!-margin-top-0", attributes: {"data-testid": "enter-name-continue-btn", "data-nav":true,"data-link":"/enter-date-birth-no-photo-id"}, text: translate("buttons.next")}) }}

  {% endcall %}

  <div>
    <p><a href="https://home.account.gov.uk/contact-gov-uk-one-login?fromURL=https://www.review-c.account.gov.uk/enter-name-no-photo-id" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ "error.unrecoverable.contactMeLink" | translate }}</a></p>
  </div>

</div>
{% endblock %}


{% block footer %}
  {{ super() }}
  <script type="text/javascript" src="/public/javascripts/all.js"></script>
{% endblock %}
