{% extends "common/layout/base.njk" %} 

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'privacyStatement.title' | translate %} 
{% set showBack = false %}

{% block content %}
<a href="#" id="back-button" class="govuk-back-link govuk-!-margin-top-1">{{'general.buttons.back' | translate}}</a>
<div class="govuk-panel govuk-panel--confirmation blue-background govuk-!-text-align-left">
  <h1 class="govuk-heading-xl white-text govuk-!-margin-top-9"> {{ "privacyStatement.header" | translate }} </h1>
  <span> {{ "privacyStatement.updated" | translate }} </span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s">Contents</h2>
    <ol class="govuk-list">
      <li><a aria-label="who-we-are" aria-describedby="identity" href="#identity"> {{ "privacyStatement.whoWeAre.header" | translate }} </a></li>
      <li><a aria-label="data-collection" aria-describedby="collection" href="#collection"> {{ "privacyStatement.collection.header" | translate }} </a></li>
      <li><a aria-label="collection-reason" aria-describedby="reason" href="#reason"> {{ "privacyStatement.reason.header" | translate }} </a></li>
      <li><a aria-label="legal-basis" aria-describedby="legal" href="#legal"> {{ "privacyStatement.legal.header" | translate }} </a></li>
      <li><a aria-label="data-sharing" aria-describedby="sharing" href="#sharing"> {{ "privacyStatement.sharing.header" | translate }} </a></li>
      <li>
        <ol class="govuk-list govuk-!-margin-left-3">
          <li><a aria-label="government-gateway" aria-describedby="governmentGateway" href="#governmentGateway"> {{ "privacyStatement.sharing.body.govGateway.header" | translate }} </a>
          <li><a aria-label="fraud-detection" aria-describedby="fraud" href="#fraud"> {{ "privacyStatement.sharing.body.fraud.header" | translate }} </a>
          <li><a aria-label="suppliers" aria-describedby="suppliers" href="#suppliers"> {{ "privacyStatement.sharing.body.suppliers.header" | translate }} </a>
        </ol>
      </li>
      <li><a aria-label="data-retention" aria-describedby="retention" href="#retention"> {{ "privacyStatement.retention.header" | translate }} </a></li>
      <li><a aria-label="use-by-children" aria-describedby="children" href="#children"> {{ "privacyStatement.children.header" | translate }} </a></li>
      <li><a aria-label="data-storage" aria-describedby="location" href="#location"> {{ "privacyStatement.location.header" | translate }} </a></li>
      <li><a aria-label="data-protection" aria-describedby="protection" href="#protection"> {{ "privacyStatement.protection.header" | translate }} </a></li>
      <li><a aria-label="data-processing" aria-describedby="processing" href="#processing"> {{ "privacyStatement.processing.header" | translate }} </a></li>
      <li><a aria-label="yout-rights" aria-describedby="rights" href="#rights"> {{ "privacyStatement.rights.header" | translate }} </a></li>
      <li><a aria-label="contact-us" aria-describedby="contact" href="#contact"> {{ "privacyStatement.contact.header" | translate }} </a></li>
      <li><a aria-label="privacy-changes" aria-describedby="changes" href="#changes"> {{ "privacyStatement.changes.header" | translate }} </a></li>
    </ol>
      <img id="print" 
        aria-hidden="true" 
        class="govuk-!-text-align-left govuk-body"
        src="/images/print-button.svg"
        alt=""
      />
  </div>
  <div class="govuk-grid-column-two-thirds"> 
    <div class="govuk-body" id="identity">
      <h2 class="govuk-heading-l"> {{ "privacyStatement.whoWeAre.header" | translate }} </h2>
      <p>
        {{ "privacyStatement.whoWeAre.body.p1a" | translate }}
        <a 
        aria-label="government-digital-services" 
        class="govuk-link"
        target="_blank" 
        href="https://www.gov.uk/government/organisations/government-digital-service">
          {{ "privacyStatement.whoWeAre.body.gdsLinkText" | translate }}
        </a>
        {{ "privacyStatement.whoWeAre.body.p1b" | translate }}
      </p>
      <p>
        {{ "privacyStatement.whoWeAre.body.p2a" | translate }}
        <a 
        aria-label="DPA-how-your-information-is-collected" 
        class="govuk-link"
        target="_blank" 
        href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you#how-your-personal-information-is-collected">
          {{ "privacyStatement.whoWeAre.body.privacyNoticeLinkText" | translate }}
        </a>
        {{ "privacyStatement.whoWeAre.body.p1b" | translate }}
      </p>
      <p>{{ "privacyStatement.whoWeAre.body.p3" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.whoWeAre.body.option1" | translate }}</li>
        <li>{{ "privacyStatement.whoWeAre.body.option2" | translate }}</li>
      </ul>
      <p>{{ "privacyStatement.whoWeAre.body.p4" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ "privacyStatement.whoWeAre.body.item1" | translate }}</li>
        <li>{{ "privacyStatement.whoWeAre.body.item2" | translate }}</li>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ "privacyStatement.whoWeAre.body.item2a" | translate }}</li>
          <li>{{ "privacyStatement.whoWeAre.body.item2b" | translate }}</li>
        </ul>
      </ul>
      <p>{{ "privacyStatement.whoWeAre.body.p5" | translate }}</p>
      <p>{{ "privacyStatement.whoWeAre.body.p6" | translate }}</p>
    </div>

    <div class="govuk-body" id="collection">
      <h2 class="govuk-heading-l"> {{ "privacyStatement.collection.header" | translate }} </h2>
      <p> {{ "privacyStatement.collection.body.p1" | translate }} </p>
      <p> {{ "privacyStatement.collection.body.p2" | translate }} </p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.collection.body.item1" | translate }}</li>
        <li>{{ "privacyStatement.collection.body.item2" | translate }}</li>
        <li>{{ "privacyStatement.collection.body.item3" | translate }}</li>
        <li>{{ "privacyStatement.collection.body.item4" | translate }}</li>
        <li>{{ "privacyStatement.collection.body.item5" | translate }}</li>
        <li>{{ "privacyStatement.collection.body.item6" | translate }}</li>
        <li>{{ "privacyStatement.collection.body.item7" | translate }}</li>
        <li>{{ "privacyStatement.collection.body.item8" | translate }}</li>
      </ul>
    </div>

    <div class="govuk-body" id="reason">
      <h2 class="govuk-heading-l"> {{ "privacyStatement.reason.header" | translate }} </h2>
      <p>{{ "privacyStatement.reason.body.p1" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.reason.body.option1" | translate }}</li>
      </ul>
      <p>{{ "privacyStatement.reason.body.p2" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ "privacyStatement.reason.body.item1" | translate }}</li>
        <li>{{ "privacyStatement.reason.body.item2" | translate }}</li>
        <li>{{ "privacyStatement.reason.body.item3" | translate }}</li>
        <li>
          {{ "privacyStatement.reason.body.item4" | translate }} 
          <a
          aria-label="UK-government-cookie-collection"
          class="govuk-link" 
          target="_blank" 
          href="https://www.gov.uk/help/cookies">
            {{ "privacyStatement.reason.body.item4linkText" | translate }} 
          </a>
        </li>
        <li>{{ "privacyStatement.reason.body.item5" | translate }}</li>
      </ul>
      <p>{{ "privacyStatement.reason.body.p3" | translate }}</p> 
    </div>

    <div class="govuk-body" id="legal">
      <h2 class="govuk-heading-l"> {{ "privacyStatement.legal.header" | translate }} </h2>
      <p>{{ "privacyStatement.legal.body.p1" | translate }}</p>
      <p>{{ "privacyStatement.legal.body.p2" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.legal.body.option1" | translate }}</li>
        <li>{{ "privacyStatement.legal.body.option2" | translate }}</li>
      </ul>
      <p>{{ "privacyStatement.legal.body.p3" | translate }}</p>   
    </div>

    <div class="govuk-body" id="sharing"> 
      <h2 class="govuk-heading-l"> {{ "privacyStatement.sharing.header" | translate }} </h2>
      <p>{{ "privacyStatement.sharing.body.p1" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.sharing.body.item1" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.item2" | translate }}</li>
      </ul>
      <p>{{ "privacyStatement.sharing.body.p2" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.sharing.body.option1" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.option2" | translate }}</li>
      </ul> 

      <h3 id="governmentGateway" class="govuk-heading-m">{{ "privacyStatement.sharing.body.govGateway.header" | translate }}</h3>
      <p>{{ "privacyStatement.sharing.body.govGateway.p1" | translate }}</p>
      <p>{{ "privacyStatement.sharing.body.govGateway.p2" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.sharing.body.govGateway.option1" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option2" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option3" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option4" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option5" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option6" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option7" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option8" | translate }}</li>
      </ul>
      <p>{{ "privacyStatement.sharing.body.govGateway.p3" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.sharing.body.govGateway.option9" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.govGateway.option10" | translate }}</li>
      </ul>

      <h3 id="fraud" class="govuk-heading-m">{{ "privacyStatement.sharing.body.fraud.header" | translate }}</h3>
      <p>{{ "privacyStatement.sharing.body.fraud.p1" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.sharing.body.fraud.item1" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.item2" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.item3" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.item4" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.item5" | translate }}</li>
      </ul>
      <p>{{ "privacyStatement.sharing.body.fraud.p2" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.sharing.body.fraud.option1" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.option2" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.option3" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.option4" | translate }}</li>
        <li>{{ "privacyStatement.sharing.body.fraud.option5" | translate }}</li>
      </ul>

      <h3 id="suppliers" class="govuk-heading-m">{{ "privacyStatement.sharing.body.suppliers.header" | translate }}</h3>
      <p>{{ "privacyStatement.sharing.body.suppliers.p1" | translate }}</p>
    </div>

    <div class="govuk-body" id="retention"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.retention.header" | translate }}</h2>
      <p>{{ "privacyStatement.retention.p1" | translate }}</p>
      <p>{{ "privacyStatement.retention.p2" | translate }}</p>
      <p>{{ "privacyStatement.retention.p3" | translate }}</p>
      <p>{{ "privacyStatement.retention.p4" | translate }}</p>
    </div>

    <div class="govuk-body" id="children"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.children.header" | translate }}</h2>
      <p>{{ "privacyStatement.children.p1" | translate }}</p>
      <p>{{ "privacyStatement.children.p2" | translate }}</p>
    </div>

    <div class="govuk-body" id="location"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.location.header" | translate }}</h2>
      <p>{{ "privacyStatement.location.p1" | translate }}</p>
    </div>

    <div class="govuk-body" id="protection"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.protection.header" | translate }}</h2>
      <p>{{ "privacyStatement.protection.p1" | translate }}</p>
    </div>

    <div class="govuk-body" id="processing"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.processing.header" | translate }}</h2>
      <p>{{ "privacyStatement.processing.p1" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.processing.option1" | translate }}</li>
        <li>{{ "privacyStatement.processing.option2" | translate }}</li>
        <li>{{ "privacyStatement.processing.option3" | translate }}</li>
      </ul>
    </div>

    <div class="govuk-body" id="rights"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.rights.header" | translate }}</h2>
      <p>{{ "privacyStatement.rights.p1" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.rights.option1" | translate }}</li>
        <li>{{ "privacyStatement.rights.option2" | translate }}</li>
        <li>{{ "privacyStatement.rights.option3" | translate }}</li>
      </ul>
      <p>
        {{ "privacyStatement.rights.p2" | translate }} 
        <a
        aria-label="email-gds-privacy-team"
        class="govuk-link" 
        href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">
          {{ "privacyStatement.rights.linkText" | translate }}
        </a>
      </p>
    </div>

    <div class="govuk-body" id="contact"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.contact.header" | translate }}</h2>
      <p>{{ "privacyStatement.contact.p1" | translate }}</p>
      <ul class="govuk-list govuk-list--bullet"> 
        <li>{{ "privacyStatement.contact.option1" | translate }}</li>
        <li>{{ "privacyStatement.contact.option2" | translate }}</li>
        <li>{{ "privacyStatement.contact.option3" | translate }}</li>
      </ul>
      <p>
        {{ "privacyStatement.contact.dpoContext" | translate }}
        <address class="govuk-body" role="address">
          Data Protection Officer<br>
          <a
          aria-label="email-cabinet-office-DPO"
          class="govuk-link" 
          href="mailto:DPO@cabinetoffice.gov.uk">
            DPO@cabinetoffice.gov.uk
          </a><br>
          Cabinet Office<br>
          70 Whitehall<br>
          London<br>
          SW1A 2AS<br>
        </address>
      </p>
      <p>
        {{ "privacyStatement.contact.icoContext" | translate }}
        <address class="govuk-body" role="address">
          Information Commissioner's Office<br>
          Wycliffe House<br>
          Water Lane<br>
          Wilmslow<br>
          Cheshire SK9 5AF<br>
          <a 
          aria-label="email-ICO"
          class="govuk-link" 
          href="mailto:icocasework@ico.org.uk">
            icocasework@ico.org.uk
          </a><br>
          Telephone: <a href="tel:0303 123 1113">0303 123 1113</a><br>
          Textphone: 01625 545860<br>
          Monday to Friday, 9am to 4:30pm<br>
          <a
          aria-label="UK-government-call-charges"
          class="govuk-link"
          href="https://www.gov.uk/call-charges">
            {{ "privacyStatement.contact.chargesText" | translate }}
          </a>
        </address>
      </p>
      <p> {{ "privacyStatement.contact.p2" | translate }} </p>
    </div>

    <div class="govuk-body" id="changes"> 
      <h2 class="govuk-heading-l">{{ "privacyStatement.changes.header" | translate }}</h2>
      <p>{{ "privacyStatement.changes.p1" | translate }}</p>
      <p>{{ "privacyStatement.changes.p2" | translate }}</p>
      <p>{{ "privacyStatement.changes.updated" | translate }}</p>
    </div>
  </div>
</div>  

{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="/public/scripts/application.js"></script>
  <script type="text/javascript" nonce='{{scriptNonce}}'>document.getElementById('print').addEventListener('click', () => { window.print() })</script>
  <script type="text/javascript" nonce='{{scriptNonce}}'>window.GOVUKFrontend.appInit('{{gtmId}}', '{{analyticsCookieDomain}}')</script>
  <script type="text/javascript" nonce='{{scriptNonce}}'>document.getElementById('back-button').addEventListener('click', (e) => { e.preventDefault(); window.history.back() })</script>
{% endblock %}