{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<div>
  <div class="govuk-!-padding-bottom-5">
    <a href={{pathToAbort}} class="govuk-link">{{ "general.common.confirmIdentityAnotherWay.confirmIdentity" | translate }}</a>.
  </div>
</div>

