{% extends "common/layout/base.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitleName = 'general.selectPhotoId.pageTitle' | translate %}
{% set hrefBack = back %} 
{% set showBack = true %}
{% set showError = isInvalid %}

{% block content %}

<h1 class="govuk-heading-l"> {{ "general.drivingLicenceExpiry.header" | translate }} </h1>

<form id="form-tracking" action="/cic/oauth2/passportDetails" method="post">
<p>{{ "general.drivingLicenceExpiry.body" | translate }}</p>

{{ govukDateInput({
  id: "driving-licence-expiry",
  namePrefix: "driving-licence-expiry",
  fieldset: {
    legend: {
      text: "general.drivingLicenceExpiry.dateOfExpiry" | translate
    }
  },
  hint: {
    text: "general.drivingLicenceExpiry.example" | translate
  }
}) }}

{{ govukSelect({
  id: "countryOfIssue",
  name: "countryOfIssue",
  label: {
    text: "Country of issue"
  },
  items: [
    {
      value: "countryOfIssue",
      text: "Select country",
      selected: true
    },
    {
      value: "unitedKingdom",
      text: "United Kingdom"
    },
    {
      value: "france",
      text: "France"
    },
    {
      value: "unitedStates",
      text: "USA"
    }
  ]
}) }}


{{ govukButton({
  text: "general.buttons.continue" | translate,
  type: "submit"
}) }}

</form>

{% endblock %}