
{% extends "common/layout/base.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% set pageTitleName = 'general.landingPage.pageTitle' | translate %}


{% block content %}

<h1 class="govuk-heading-l">{{ "general.landingPage.title" | translate }}</h1>

<h2 class="govuk-heading-m">{{ "general.landingPage.body" | translate }}</h2>

<ol class="govuk-list govuk-list--number">
  <li>{{ "general.landingPage.instructions.steps.one" | translate }}</li>
  <li>{{ "general.landingPage.instructions.steps.two" | translate }}</li>
  <li>{{ "general.landingPage.instructions.steps.three" | translate }}</li>
</ol>

<div>
  <p>
    {{ "general.common.postoffice.service" | translate }}
    <a href={{pathToPoBranchSearch}} class="govuk-link">{{ "general.common.postoffice.postofficeLink" | translate }}</a>.
  </p>
</div>


<h2 class="govuk-heading-m">{{ "general.landingPage.dataInfo.title" | translate }}</h2>
<p>{{ "general.landingPage.dataInfo.body" | translate }}</p>

<form id="form-tracking" action="{{continue}}" method="get">
    <button class="govuk-button" data-module="govuk-button">
    {{"general.buttons.continue" | translate }}
     </button>
</form>


{% include "common/confirmIdentityAnotherWay.njk" %}

{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="/public/scripts/application.js"></script>
  <script type="text/javascript" nonce='{{scriptNonce}}'>window.GOVUKFrontend.appInit('{{gtmId}}', '{{analyticsCookieDomain}}')</script>
{% endblock %}
