{% extends "common/layout/base.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'general.selectPhotoId.pageTitle' | translate %}
{% set hrefBack = back %} 
{% set showBack = true %}
{% set showError = isInvalid %}

{% block content %}

<h1 class="govuk-heading-l"> {{ "general.nonUkPassportExpiry.header" | translate }} </h1>

<form id="form-tracking" action="/cic/oauth2/nonUKPassportDetails" method="post">
<p>{{ "general.nonUkPassportExpiry.body" | translate }}</p>

{{ govukDateInput({
  id: "nonUkPassportExpiry",
  namePrefix: "nonUkPassportExpiry",
  fieldset: {
    legend: {
      text: "general.nonUkPassportExpiry.dateOfExpiry" | translate
    }
  },
  hint: {
    text: "general.nonUkPassportExpiry.example" | translate
  }
}) }}


{{ govukButton({
  text: "general.buttons.continue" | translate,
  type: "submit"
}) }}

</form>

{% endblock %}