{% extends "common/layout/base.njk" %}

{% set showBack = false %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-top-4">
  RELYING PARTY STUB
</h1>

{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="/public/scripts/application.js"></script>
{% endblock %}