<!-- Copied from common express with contact link changed -->
{% extends "base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set hmpoPageKey = "error.unrecoverable" %}
{% set contentID = "25409193-e1e9-4b8f-8864-d98ee85d311d" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "cic" %}
{% set statusCode = "500" %}
{% set pageTitleKey = "error.unrecoverable.title"%}
{% set loggedInStatus = false %}
{% set isPageDynamic = false %}



{% block mainContent %}
  <h1 data-id="error-title">{{ translate("error.unrecoverable.title") }}</h1>

  <p>{{ translate("error.unrecoverable.subTitle") }}</p>

  <h2>{{ translate("error.unrecoverable.subHeading") }}</h2>

  <div class="govuk-text">
    <p>{{ translate("error.unrecoverable.description") }}</p>
  </div>

  {{ govukButton({
    text: translate("error.unrecoverable.buttonText"),
    href: translate("error.unrecoverable.buttonLink")
  }) }}

  <div>
      <p><a href="https://home.account.gov.uk/contact-gov-uk-one-login?fromURL=https://www.review-c.account.gov.uk/enter-name\" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ translate("error.unrecoverable.contactMeLink") }}</a></p>
  </div>

{% endblock %}

