{% extends "common/layout/base.njk" %} 
{% set mainClasses = "govuk-main-wrapper--l" %}
{% set rowClasses = 'interrupt-screen' %} 
{% set pageTitleName = 'general.introApp.pageTitle' | translate %} 
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% set hrefBack = back %}
{% set showBack = true %} {% block content %}

<div>
  <div class="govuk-panel govuk-panel--confirmation blue-background">
    <div aria-hidden="true" class="govuk-!-text-align-left">
      <img
        class="govuk-!-text-align-left"
        id="gov-uk-logo"
        src="/images/gov-uk-logo.svg"
        alt=""
      />
    </div>
    <h1
      class="govuk-heading-l govuk-!-text-align-left govuk-!-margin-top-2 white-text"
    >
      {{ "general.introApp.title" | translate }}
    </h1>
    <p class="govuk-body govuk-!-text-align-left white-text">
      {{ "general.introApp.body" | translate }}
    </p>
    <h2
      class="govuk-body govuk-!-text-align-left white-text govuk-!-font-weight-bold"
    >
      {{ "general.introApp.instructions.summaryText" | translate }}
    </h2>
    <div class="govuk-!-margin-left-2">
      <ul
        class="govuk-list govuk-list--bullet govuk-!-text-align-left white-text"
      >
        <li>{{ "general.introApp.instructions.steps.one" | translate }}</li>
        <li>{{ "general.introApp.instructions.steps.two" | translate }}</li>
      </ul>
    </div>
    <div class="app-button--inverted .govuk-button">
      <form id="form-tracking" action="{{continue}}" method="get">
        <button
          class="govuk-button govuk-!-margin-top-2 govuk-!-font-weight-bold"
          data-module="govuk-button"
        >
        {{"general.buttons.continue" | translate }}
        </button>
      </form>
    </div>
  </div>

  <div>
    <h2 class="govuk-heading-m">
      {{ "general.introApp.dataInfo.title" | translate }}
    </h2>
    <p>
      {{ "general.introApp.dataInfo.body" | translate }}
      <a href="/privacystatement" class="govuk-link">
        {{ "general.introApp.dataInfo.privacyNoticeLink" | translate }}</a
      >
    </p>
    <h2 class="govuk-heading-m">
      {{ "general.introApp.accessibiltyInfo.title" | translate }}
    </h2>
    <p>
      {{ "general.introApp.accessibiltyInfo.body" | translate }}
      <a href="/accessibilitystatement" class="govuk-link">
        {{ "general.introApp.accessibiltyInfo.statement" | translate }}</a
      >
    </p>
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="/public/scripts/application.js"></script>
  <script type="text/javascript" nonce='{{scriptNonce}}'>window.GOVUKFrontend.appInit('{{gtmId}}', '{{analyticsCookieDomain}}')</script>
{% endblock %}