name: Pre-merge checks
on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
  push:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Run lint
        run: yarn lint
      - name: Run build
        run: yarn build
      - name: Run test and write coverage
        run: yarn test:coverage
      - name: Run browser tests
        run: npm run test:browser:ci
      - name: Get test results history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
      - name: Cucumber HTML Report action
        uses: PavanMudigonda/html-reporter-github-pages@v1.0
        id: test-report
        if: always()
        with:
          test_results: test/report
          gh_pages: gh-pages
          results_history: results-history
      - name: Publish Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: results-history
          keep_files: true
      # - name: Run sonarcloud scan
      #   if: ${{ github.actor != 'dependabot[bot]' }}
      #   uses: sonarsource/sonarcloud-github-action@master
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # obtained from https://sonarcloud.io
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
