name: Post merge checks

on:
  workflow_dispatch:
  push:
    branches:
      - main

env: # Only adding the variables in that are required for
  IPV_STUB_URL: ${{ secrets.IPV_STUB_URL }}

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    continue-on-error: true


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout Project
        uses: actions/checkout@v5

      - name: Use Node.js 22.x
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'yarn'

      - name: Checks if commiting secrets to repo
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: "detect-secrets --all-files"

      - name: Install dependencies
        run: yarn install

      - name: Run lint
        run: yarn lint

      - name: Run build
        run: yarn build

      - name: Run test and write coverage
        run: yarn test:coverage

      - name: "Run SonarCloud Scan"
        if: ${{ success() && github.actor != 'dependabot[bot]' }}
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Test CIC Front Image
        uses: borales/actions-yarn@v5
        with:
          cmd: install # will run `yarn install` command
        env:
          NODE_AUTH_TOKEN: ${{ secrets.SH_CIC_ACCESS_TOKEN }} # if needed

      - name: Build production bundle
        uses: borales/actions-yarn@v5
        with:
          cmd: build # will run `yarn build` command

      - name: Test the app
        uses: borales/actions-yarn@v5
        with:
          cmd: test:browser:ci # will run `yarn test:browser:ci` command

      - name: Get Test Results history
        uses: actions/checkout@v5
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Cucumber HTML Report action
        uses: PavanMudigonda/html-reporter-github-pages@v1.4
        id: test-report
        if: always()
        with:
          test_results: ./report/cucumber-html-report
          gh_pages: gh-pages
          results_history: results-history
          workflow_name: post-merge-checks

      - name: Publish Github Pages
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: results-history
          keep_files: true
